.idea/
.vscode/
*.iml
.env
.DS_Store
venv/
.venv/
.pytest_cache/
**__pycache__/
static/
taxi/__init__.py
taxi/admin.py
taxi/apps.py
taxi/models.py
taxi/tests.py
taxi/urls.py
taxi_service/includes/pagination.html
taxi_service/car_detail.html
taxi_service/car_list.html
taxi_service/driver_list.html
taxi_service/manufacturer_list.html
taxi_service/base.html
tests/
.flake8
checklist.md
db.sqlite3
manage.py
README.md
requirements.txt
taxi_service_db_data.json
