{% extends "base.html" %}

{% block content %}
  <h1>Car list</h1>
  {% if car_list %}
    <ul class="list-group col-4 col-md-6 mb-3">
      {% for car in car_list %}
        <li class="list-group-item list-group-item-action">
          <a href="{% url "taxi:car-detail" pk=car.id %} " class="link-dark text-decoration-none">{{ car.id }}. {{ car.model }} ({{ car.manufacturer.name }})</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
