{% extends "base.html" %}

{% block content %}
  <h1 class="page-title">{{ car.model }}</h1>
  <p class="page-sub">
    <span class="page-sub__label">Manufacturer:</span>
    <span class="page-sub__value">{{ car.manufacturer.name }}</span>
    <span class="page-sub__value">({{ car.manufacturer.country }})</span>
  </p>

  <h2 class="section-title--subtle">Drivers</h2>

  {% if drivers %}
    <div class="car-detail">
      <ol class="detail-list">
        {% for driver in drivers %}
          <li>{{ driver.first_name }} {{ driver.last_name }}</li>
        {% endfor %}
      </ol>
    </div>
  {% else %}
    <div class="car-detail car-detail--empty">
      <p class="empty">No drivers assigned</p>
    </div>
  {% endif %}
{% endblock %}
