{% extends "base.html" %}

{% block content %}
  <h1>{{ driver.username }}</h1>
  <div>
    <div><strong>Username: </strong>{{ driver.username }}</div>
    <div><strong>First name: </strong>{{ driver.first_name }}</div>
    <div><strong>Last name: </strong>{{ driver.last_name }}</div>
    <div><strong>License number: </strong>{{ driver.license_number }}</div>
  </div>
  <br>
  <h1>Cars:</h1>
  {% for car in driver.cars.all %}
    <hr>
    <p><strong>Id:</strong>{{ car.id }}
      <span>Car model:</span> {{ car.model }}
    </p>

  {% empty %}
    <p>No cars!</p>
  {% endfor %}

{% endblock %}
