{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>License Number</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in object_list %}
        <tr>
            <td>
                <a href="{% url 'taxi:driver-detail' driver.id %}">
                    {{ driver.username }}
                    {% if driver.id == user.id %}
                        (Me)
                    {% endif %}
                </a>
            </td>
            <td>{{ driver.license_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "includes/pagination.html" %}
{% endblock %}
