{% extends "base.html" %}

{% block content %}
  <h1>Taxi Service Home</h1>
  <p>Welcome to Best Taxi Ever!</p>
  <h2>Dynamic content</h2>
  <p>The Taxi service has the following record counts:</p>
  <ul>
    <li><strong>Cars:</strong> {{ num_cars }}</li>
    <li><strong>Drivers:</strong> {{ num_drivers }}</li>
    <li><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
  </ul>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h6>
          You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
        </h6>
        <p>
          <small>
            Last visit:
            {% if last_visit %}
              <span class="text-success">{{ last_visit }}</span>
            {% else %}
              <span class="text-danger">It is your first visit for current session!</span>
            {% endif %}
          </small>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
