body {
    margin-top: 20px;
}

/*.btn {*/
/*    display: inline-block;*/
/*    padding: 5px 10px;*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    border-radius: 4px;*/
/*    font-size: 14px;*/
/*}*/

/*.btn:hover {*/
/*    background-color: #45a049;*/
/*}*/
.btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background-color: #45a049;
}
