<ul class="sidebar-nav">
      {% if user.is_authenticated %}
    <li class="list-group-item list-group-item-primary">
      User:
      <a href="{% url "taxi:driver-detail" pk=user.id %}">
        {{ user.username }}
      </a>
    </li>
    <li class="list-group-item mb-3">
      <a href="{% url "logout" %}">Log out</a>
    </li>
  {% else %}
    <li class="list-group-item mb-3">
      <a href="{% url "login" %}">Login</a>
    </li>
  {% endif %}
  <li><a href="{% url "taxi:index" %}">Home page</a></li>
  <li><a href="{% url "taxi:manufacturer-list" %}">Manufacturers</a></li>
  <li><a href="{% url "taxi:car-list" %}">Cars</a></li>
  <li><a href="{% url "taxi:driver-list" %}">Drivers</a></li>
</ul>
