{% extends "base.html" %}

{% block title %}
  <title>Taxi Service Home</title>
{% endblock %}

{% block content %}
  <div class="mt-4">
    <h2>Welcome to the Taxi Service 🚕!</h2>
    <p>This is the home page of the Taxi Service project.</p>
    <hr>
    <ul>
      <li><strong>Number of drivers:</strong> {{ num_drivers }}</li>
      <li><strong>Number of cars:</strong> {{ num_cars }}</li>
      <li><strong>Number of manufacturers:</strong> {{ num_manufacturers }}</li>
      <li><strong>You have visited this page:</strong> {{ num_visits }} time{{ num_visits|pluralize }}.</li>
    </ul>
  </div>
{% endblock %}
